<% provide(:title, "Items") %>

<h1>Listing items</h1>

<table class="item-list table table-hover">
  <tr>
    <th>Item Name</th>
    <th>Price</th>
    <th><%= link_to 'Add New Item', new_item_path, class: "btn btn-primary" %></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td>
        <button name="edit">Edit</button>
        <button name="delete">Delete</button>
      </td>
    </tr>
  <% end %>
</table>
