<header class="navbar navbar-fixed-top navbar-inverse">
  <a href="/"><h2 class="header-main">Moka Rails Interview</h1></a>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Log in", '#' %></li>
    </ul>
  </nav>
</header>
